.container2 {
    display: inline-flex;
    flex-direction: column;
    width: 430px;
    height: 200px;
    align-items: center;
    left: 150px;
    top: 200px;
    justify-content: center;
    position: relative;

    .ttlcol {
        color: black;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 32px;
    }
}

@media screen and (max-width: 500px){
    .container2{
        left: 00;
        top: 150px;
        //width: 200px;

        .ttlcol{
            font-size: 23px;
        }

        img{
            width: 250px;
        }
    }
}