// Fontes
$fonte: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// Cores
$preto: #000000;
$branco: #ffffff;
$vermelho: #842426;

// Tamanho Das Fontes
//$tamanho-do-texto: 3em;